@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color: #ffd67d;
    --second-bg-color: #8d7645;
    --text-color: #000000;
    --main-color: rgb(255, 153, 0);
}

html {
    font-size: 63%;
    overflow-x: hidden;
}

body  {
    background: var(--bg-color);
    color: var(--text-color);
}

section {
    min-height: 100vh;
    padding: 10rem 10% 2rem;
}

span {
    color: var(--main-color);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 10%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: default;
}

.navbar a {
    font-size: 1.7rem;
    color: var(--text-color);
    margin-left: 4rem;
    transition: 0.3s;
}

.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}



.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: var(--second-bg-color);
}


.about-img img {
    width: 310px;
    height: 320px;
    border-radius: 50%;
    
}

.about-img img:hover {
    border: rgb(255, 153, 0) 0.5rem solid;
    box-shadow: 0 0 2rem var(--main-color);
}

.heading {
    text-align: center;
    font-size: 4.5rem;
}

.about-content {
    text-align: left;
    line-height: 1.2;
}

.about-content h2 {
    text-align: center;
    line-height: 1.2;
}

.about-content h3 {
    text-align: center;
    margin-top: 2rem;
    font-size: 2.6rem;
}

.about-content p {
    text-align: center;
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}




